<section>
    <div class="tab-nav-wrap">
      <ul class="tab-nav" role="tablist">
        <li class="tab" [routerLinkActive]="['active']" [routerLink]="['/profile/settings']">
          <a >Profile Settings</a>
        </li>
        <li class="tab" [routerLinkActive]="['active']" [routerLink]="['/profile/paymentMethods']">
          <a >Payment Methods</a>
        </li>
        <li class="tab" [routerLinkActive]="['active']" [routerLink]="['/profile/paymentsSubscriptions']">
            <a >Payments</a>
          </li>
      </ul>
      <div class="bottom-line"></div>
    </div>
  </section>
  