<profile-quick-actions></profile-quick-actions>
<div class="login">
  <dynamic-logo [logo]="'urnota-full-logo.svg'"></dynamic-logo>
  <dynamic-background [bg]="'profileBg.jpg'"></dynamic-background>
  <div class="content" *ngIf="!emailConfirmationSent && !passwordUpdateProcess">
    <div class="text-center">
      <h3 class="mb-0">Password Reminder</h3>
      <form name="form" (ngSubmit)="f.form.valid && checkRestoreEmail()" #f="ngForm" novalidate>
        <div class="form-group m-t-30">
          <input type="email" class="form-control" name="email" [(ngModel)]="email" #username="ngModel" placeholder="Email address" (ngModelChange)="resetError()"
            required>
            <span *ngIf="error.email" class="help-block error-message">Email {{error.email[0]}}</span>
        </div>


        <div class="form-group m-t-25">
          <button type="submit" class="btn btn-small btn-primary btn-block">Restore Password</button>
        </div>

      </form>

    </div>
  </div>
  <div class="content" *ngIf="emailConfirmationSent">
    <div class="text-center">
      <h3 class="mb-0">Password Reminder</h3>
      <div class="font-s-15 color-normal m-t-30">
        A link to restore you password was sent to your email {{email}}
      </div>
    </div>
  </div>
  <div class="content" *ngIf="passwordUpdateProcess">
    <div class="text-center">
      <h3 class="mb-0">Create New Password</h3>
      <form name="form" (ngSubmit)="f.form.valid && updatePassword()" #f="ngForm" novalidate>
        <div class="form-group m-t-30">
          <input type="password" class="form-control" name="password" [ngClass]="{error:error.password}" (ngModelChange)="resetError()" [(ngModel)]="updatePasswordData.password" #password="ngModel" placeholder="New password"
            required>
            <span *ngIf="error.password && updatePasswordData.password.length < 6" class="help-block error-message">{{error.password[0]}}</span>
        </div>
        <div class="form-group m-t-10">
          <input type="password" class="form-control" name="repeatPassword" [ngClass]="{error:error.password_confirmation}" (ngModelChange)="resetError()" [(ngModel)]="updatePasswordData.password_confirmation" #repeatPassword="ngModel" placeholder="Repeat password"
            required>
            <span *ngIf="error.password_confirmation && updatePasswordData.password != updatePasswordData.password_confirmation" class="help-block error-message">{{error.password_confirmation[0]}}</span>
        </div>

        <div class="form-group m-t-25">
          <button type="submit" class="btn btn-small btn-primary btn-block">Save Password and Login</button>
        </div>

      </form>

    </div>
  </div>
</div>
