.background-wrap {
  background: url("../../../../assets/images/profileBg.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 310px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
