.login {
    .background-wrap{
        height: 100%;
    }
    .content{
        width:500px;
        padding: 30px 60px 50px 60px;
        .form-group{
            padding:0;
            margin:0;
        }
        
    }
}

.ps{
    height: 100%;
}
