<section class="text-center">
  <h2 class="block-title">Become a Partner</h2>
</section>

<section class="text-center videom m-t-30">
  <iframe class="w-100" height="390px" src="https://www.youtube.com/embed/rAQRNscKweU?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</section>

<section class="m-t-30 color-normal text-justify font-s-15">
  <p>
  Friends, I am glad that together we have become part of God’s great vision entrusted to us – to spread the Gospel of the Kingdom across all the earth.  You have become a part of the change in the lives of millions of people!
  </p>
  <p>
  Through the crusades in numerous countries, television broadcasts, conferences, schools, the rehabilitation center and various other projects – God’s vision is carried out through Flame of Fire Ministry.
  </p>
  I believe that your reward will be great and the favor of God will be upon your life!
</section>


<section class="m-t-30 color-normal d-flex justify-content-center">
  <a [routerLink]="['/donate/partner']" class="btn btn-big btn-red">Become Partner</a>
</section>

