.back-icon{
    margin-left: -22px;
    width: 12px;
    height: 34px;
}

.date-selection{
    width: 80px;
}


.payments-history{
    margin-top: 70px;
}

.status-separator{
    width: 1px;
  height: 12px;
  background-color: #e7e7e7;
}

.payment-method{
    .inner{
        height: 100%;
    }
}
