.AvenirLTPro-Medium { 
	font-family: AvenirLTPro-Medium;
	font-weight: normal;
	font-style: normal;
}
.AvenirLTPro-Light { 
	font-family: AvenirLTPro-Light;
	font-weight: normal;
	font-style: normal;
}
.AvenirLTPro-Book { 
	font-family: AvenirLTPro-Book;
	font-weight: normal;
	font-style: normal;
}
.Avenir-normal-normal { 
	font-family: Avenir;
	font-weight: normal;
	font-style: normal;
}
.AvenirLTPro-Heavy { 
	font-family: AvenirLTPro-Heavy;
	font-weight: normal;
	font-style: normal;
}
.Avenir-bold-normal { 
	font-family: Avenir;
	font-weight: bold;
	font-style: normal;
}