

.StripeElement {
  width: 100%;
  margin: 1rem 0 1rem;
  background-color: white;
  padding: 17px 11px;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
  border-radius: 5px;
  background-color: #ffffff;
  border: solid 1px #dedede;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.InputElement.is-empty{
    color:Red;
}